@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome to</h1>
    <a href="https://localhost:44386/Home/Privacy"><img src="https://drive.google.com/uc?export=view&id=1NDRmWEdVnftt5IaGAzu6Q9tBXaUSeAF0" style="width: 300px; max-width: 100%; height: auto" title="Click for the endoREG (nucCORE) Privacy Policy." /></a>
    <br />
    <br />
    <div class="align-items-center">
        <p class="text-justify align-items-center" style="max-width: 500px; margin-left:auto; margin-right:auto;"><b>endoREG</b> (endo<b>R</b>egulatory and <b>E</b>nforcement <b>G</b>uidelines) is an application that consolidates and harmonizes sets of conformance controls.  It allows for the establishment of compliance plans to help organizations satisfy industry-specific requirements, state / federal laws, establishment policies, organizational procedures and applicable regulations.  Users can register or login the app to create, read, update, and delete formulated action items and completion plans.  endoREG utilizes user input (e.g. forms and selections) to assist companies without unnecessary duplication of effort(s) and activity from multiple resources.</p>
        <p>Please see the <a href="https://docs.microsoft.com/aspnet/core">endoREG (nucCORE) Privacy Policy</a>.</p>
    </div>
